extends layout

block content
	.jumbotron
		form.form-horizontal
			.form-group
				label(for='inputEmail3',class='col-sm-2 control-label') 宠物温度
				.col-sm-10
					input(type='number',class='form-control',id='inputTemperatureMin',placeholder='最小值',value=TemperatureMin)
					input(type='number',class='form-control',id='inputTemperatureMax',placeholder='最大值',value=TemperatureMax)
			.form-group
				label(for='inputEmail3',class='col-sm-2 control-label') 宠物运动量
				.col-sm-10
					input(type='text',class='form-control',id='inputStartTime',placeholder='开始时间XX:XX',value=StartTime)
					input(type='text',class='form-control',id='inputEndTime',placeholder='结束时间XX:XX',value=EndTime)
					input(type='number',class='form-control',id='inputRunCount',placeholder='最小值',value=RunCount)
			.form-group
				div(class='col-sm-offset-2 col-sm-10')
					button(type='button',class='btn btn-lg btn-primary',id='saveButton') 保存
		script(type='text/javascript').
			$(function () {
				$('#saveButton').on('click', function () {
					var data = {};
					data.TemperatureMin = $('#inputTemperatureMin').val();
					data.TemperatureMax = $('#inputTemperatureMax').val();
					data.StartTime = $('#inputStartTime').val();
					data.EndTime = $('#inputEndTime').val();
					data.RunCount = $('#inputRunCount').val();
					$.post("/user/set", data );
					alert('保存成功');
				})
			})
