extends layout

block navbar
	li
		a(href='/') 健康指标
	li(class='active')
		a(href='/list') 推送
	li
		a(href='#') Home

block content
	.jumbotron
		span.label.label-default 北京 
		&nbsp;&nbsp;
		a(href='#') 大钟寺&nbsp;&nbsp;
		a(href='#') 回龙观&nbsp;&nbsp;
		a(href='#') 西三旗&nbsp;&nbsp;
		br
		br
		span.label.label-success 上海
		&nbsp;&nbsp;
		a(href='#') 南京西路&nbsp;&nbsp;
		a(href='#') 江宁路&nbsp;&nbsp;
		a(href='#') 曹家渡&nbsp;&nbsp;
		br
		br
		span.label.label-info 深圳
		&nbsp;&nbsp;
		a(href='#') 岗厦购物公园&nbsp;&nbsp;
		a(href='#') 皇岗华强北华强南&nbsp;&nbsp;
		a(href='#') 福华新村周边&nbsp;&nbsp;
		br
		br
		span.label.label-warning 广州
		&nbsp;&nbsp;
		a(href='#') 中山大道&nbsp;&nbsp;
		a(href='#') 珠江大道&nbsp;&nbsp;
		a(href='#') 珠江新城&nbsp;&nbsp;
		br
		br
		span.label.label-danger 杭州
		&nbsp;&nbsp;
		a(href='#') 崇贤&nbsp;&nbsp;
		a(href='#') 老余杭&nbsp;&nbsp;
		a(href='#') 临平&nbsp;&nbsp;
		br
		br
		table.table.table-hover
			tr
				th 开始时间
				th 结束时间
				th 温度最小值
				th 温度最大值
				th 运动量最小值
				- for (var i = 0; i < data.length; ++i) {
					tr
						td #{data[i].StartTime}
						td #{data[i].EndTime}
						td #{data[i].TemperatureMin}
						td #{data[i].TemperatureMax}
						td #{data[i].RunCount}
				- }
		form.form-horizontal
			.form-group
				label.col-sm-2.control-label(for='inputEmail3') 时间段
				.col-sm-10
					input.form-control#inputStartTime(type='text',placeholder='开始时间XX:XX',value=StartTime)
					input.form-control#inputEndTime(type='text',placeholder='结束时间XX:XX',value=EndTime)
			.form-group
				label.col-sm-2.control-label(for='inputEmail3') 宠物温度
				.col-sm-10
					input.form-control#inputTemperatureMin(type='number',placeholder='最小值',value=TemperatureMin)
					input.form-control#inputTemperatureMax(type='number',placeholder='最大值',value=TemperatureMax)
			.form-group
				label(for='inputEmail3',class='col-sm-2 control-label') 宠物运动量
				.col-sm-10
					input.form-control#inputRunCount(type='number',placeholder='最小值',value=RunCount)
			.form-group
				div(class='col-sm-offset-2 col-sm-10')
					button.btn.btn-lg.btn-primary#saveButton(type='button') 保存
		script(type='text/javascript').
			$(function () {
				$('#saveButton').on('click', function () {
					var data = {};
					data.TemperatureMin = $('#inputTemperatureMin').val();
					data.TemperatureMax = $('#inputTemperatureMax').val();
					data.StartTime = $('#inputStartTime').val();
					data.EndTime = $('#inputEndTime').val();
					data.RunCount = $('#inputRunCount').val();
					$.post("/user/set", data );
					alert('保存成功');
					location.reload();
				})
			})
